<template>
<div>

  <div id="tag"
       class="badge"
       v-bind:style="{ backgroundColor: tag.color }"
       v-bind:class="{ 'text-light': tag.text_light }">
    {{ tag.name }}

  </div>

</div>
</template>

<script>
export default {
  name: 'tag',
  components: {},
  props: {
    tag: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
#tag {}
</style>
