<template>
<div id="tags">
  <tag class="mr-1 mb-1"
       v-for="tag in tags"
       v-bind:key="tag.id"
       v-bind:tag="tag">
  </tag>

</div>
</template>

<script>
import Tag from '@/components/tag/Tag'
export default {
  name: 'tags',
  components: {
    Tag
  },
  props: {
    tags: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
#tags {}
</style>
