<template>
<div id="button-save-cancel"
     class="d-flex justify-content-between">
  <button type="button"
          class="btn btn-danger btn-sm"
          v-on:click.prevent="$emit('cancel')">
    {{ cancel }}
  </button>
  <button type="submit"
          class="btn btn-primary btn-sm">
    {{ save }}
  </button>

</div>
</template>

<script>
export default {
  name: 'button-save-cancel',
  props: {
    save: {
      type: String,
      required: true
    },
    cancel: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
#button-save-cancel {}
</style>
