<template>
<button id="button-subscribe"
        type="button"
        class="btn btn-sm ml-auto"
        v-bind:class="[ isSubscribed ? 'btn-outline-danger' : 'btn-outline-success' ]"
        v-bind:title="isSubscribed ? $t('global.software.unsubscribe') : $t('global.software.subscribe')"
        v-on:click="exec">
  <i class="material-icons md-18 align-middle p-0">notification_important</i>
</button>
</template>

<script>
export default {
  name: 'button-subscribe',
  props: {
    software: {
      type: Object,
      required: true
    }
  },
  computed: {
    isSubscribed() {
      for (var i in this.$store.state.subscriptions.list) {
        if (this.software.id === this.$store.state.subscriptions.list[i].id) {
          return true;
        }
      }
      return false;
    }
  },
  methods: {
    exec() {
      if (this.isSubscribed) {
        this.axios.delete('/users/' + this.$store.getters['auth/userID'] + '/subscriptions/' + +this.software.id)
          .then(() => {
            this.$store.dispatch('alerts/new', this.newSuccess(this.$t('button-subscribe.you-unsubscribed', { software: this.software.name })));
          })
          .catch((error) => {
            this.$store.dispatch('alerts/new', this.newDanger(error.response.statusText));
          });
      } else {
        this.axios.put('/users/' + this.$store.getters['auth/userID'] + '/subscriptions/' + this.software.id, {
            severity: "patch"
          })
          .then(() => {
            this.$store.dispatch('alerts/new', this.newSuccess(this.$t('button-subscribe.you-subscribed', { software: this.software.name })));
          })
          .catch((error) => {
            this.$store.dispatch('alerts/new', this.newDanger(error.response.statusText));
          });
      }
      this.reloadSubscriptions();
    },
    reloadSubscriptions() {
      this.axios.get('/users/' + this.$store.getters['auth/userID'] + '/subscriptions')
        .then((response) => {
          this.$store.dispatch('subscriptions/load', response.data)
        })
        .catch(() => {
          this.$store.dispatch('alerts/new', this.newDanger(this.$t('global.could-not-load-data')));
        });
    }
  }
}
</script>

<style lang="scss" scoped>
#button-subscribe {}
</style>
