<template>
<div id="button-default-software-request">
  <router-link class="btn btn-sm btn-warning"
               v-if="software.id != 1"
               v-bind:to="newRequestURL(software)">
    {{ $t('button-default-software-request.propose-software-default') }}
  </router-link>

</div>
</template>

<script>
export default {
  name: 'button-default-software-request',
  props: {
    software: {
      type: Object,
      required: true
    }
  },
  methods: {
    newRequestURL(software) {
      let description = "%60%60%60" + "yaml%0A"
      description += "name: " + software.name + "%0A"
      description += "description: " + software.description + "%0A"
      description += "website: " + software.website + "%0A"
      description += "repository_type: " + software.repository + "%0A"
      description += "repository: " + software.repository + "%0A"
      description += "%60%60%60" + "%0A"
      let query = "?issue[title]=Default software request: " + software.name + "&issue[description]=" + description
      return "https://gitlab.com/vtrack/vtrack-server/issues/new" + query
    }
  }
}
</script>

<style lang="scss" scoped>
#button-default-software-request {}
</style>
