<template>
<div id="auth-wrapper"
     class="container-fluid d-flex flex-column mt-3">
  <img src="@/assets/icon.svg"
       alt=""
       class="mb-3"
       style="height: 4em;">

  <div class="card shadow-lg mx-auto"
       style="width: 18em;">
    <router-view></router-view>

  </div>

</div>
</template>

<script>
export default {
  name: 'auth-wrapper',
  components: {}
}
</script>

<style lang="scss" scoped>
#auth-wrapper {
    .form-group {
        label {
            font-size: 0.9em;
            font-weight: bold;
        }
    }
}
</style>
