<template>
<div id="main-wrapper">
  <topbar class="shadow-sm"></topbar>
  <router-view></router-view>

</div>
</template>

<script>
import Topbar from '@/components/Topbar'
export default {
  name: 'main-wrapper',
  components: {
    Topbar
  },
  created() {
    this.loadSubscriptions();
  },
  methods: {
    loadSubscriptions() {
      this.axios.get('/users/' + this.$store.getters['auth/userID'] + '/subscriptions')
        .then((response) => {
          this.$store.dispatch('subscriptions/load', response.data)
        })
        .catch(() => {
          this.$store.dispatch('alerts/new', this.newDanger(this.$t('global.could-not-load-data')));
        });
    }
  }
}
</script>

<style lang="scss" scoped>
#main-wrapper {}
</style>
