<template>
<div id="not-found">

  <div class="text-center">
    <h1>404</h1>
    <p>{{ $t('global.page-not-found') }}</p>
    <router-link v-bind:to="{ name: 'subscriptions' }">{{ $t('global.back-to-home') }}</router-link>

  </div>

</div>
</template>

<script>
export default {
  name: 'not-found',
}
</script>

<style lang="scss" scoped>
#not-found {
    margin-top: 40vh;
}
</style>
