<template>
<div id="alerts"
     class="fixed-bottom m-2">

  <div class="alert py-2 px-3 w-50 mx-auto shadow"
       v-for="alert in $store.state.alerts.list"
       v-bind:key="alert.when"
       v-bind:class="'alert-' + alert.type">
    <span>{{ alert.message }}</span>
    <button type="button"
            class="close"
            v-on:click="$store.dispatch('alerts/delete', alert)">
      <i class="material-icons md-18 align-middle">close</i>
    </button>

  </div>

</div>
</template>

<script>
export default {
  name: 'alerts',
  components: {},
}
</script>

<style lang="scss" scoped>
#alerts {}
</style>
