<template>
<div id="input-group-prepend"
     class="input-group">

  <div class="input-group-prepend col-4 col-md-3 col-lg-2 m-0 p-0">
    <span class="input-group-text w-100">{{ label }}</span>

  </div>
  <slot class="col"></slot>

</div>
</template>

<script>
export default {
  name: 'input-group-prepend',
  props: {
    label: String,
  }
}
</script>

<style lang="scss" scoped>
#input-group-prepend {}
</style>
