<template>
<div id="modal"
     class="position-absolute">

  <div class="card mx-auto shadow text-dark"
       style="width: 20rem;">

    <div class="card-header">
      <h3 class="card-title m-0">{{ title }}</h3>

    </div>

    <div class="card-body p-2">
      <slot></slot>

    </div>

    <div class="card-footer d-flex justify-content-between p-2">
      <button type="button"
              class="btn btn-danger btn-sm"
              v-on:click="$emit('cancel')">{{ cancel }}</button>
      <button type="button"
              class="btn btn-primary btn-sm "
              v-on:click="$emit('submit')">{{ submit }}</button>

    </div>

  </div>

</div>
</template>

<script>
export default {
  name: 'modal',
  props: {
    title: String,
    submit: String,
    cancel: String
  }
}
</script>

<style lang="scss" scoped>
#modal {
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20vh;
}
</style>
