<template>
<div id="navbar"
     class="navbar navbar-dark bg-light d-flex p-2 justify-content-between align-items-center">
  <sidebar-toggler v-if="showSidebarToggler">
  </sidebar-toggler>
  <h4 class="m-0 mr-auto">{{ title }}</h4>
  <button type="button"
          class="btn btn-sm btn-outline-dark mr-1 p-1"
          v-if="showViewToggler"
          v-on:click="$store.dispatch('display/toggleSoftwaresView')"
          v-bind:title="!$store.state.display.softwaresViewList ? $t('navbar.view-list') : $t('navbar.view-cards')">
    <i class="material-icons md-24 align-middle p-0">{{ !$store.state.display.softwaresViewList ? 'view_list' : 'view_module' }}</i>
  </button>
  <router-link class="btn btn-sm btn-outline-dark p-1"
               v-bind:to="{ name: 'software-add' }"
               v-bind:title="$t('navbar.add-software')"><i class="material-icons md-24 align-middle p-0">add</i>
  </router-link>

</div>
</template>

<script>
import SidebarToggler from '@/components/SidebarToggler';
export default {
  name: 'navbar',
  components: {
    SidebarToggler
  },
  props: {
    title: {
      type: String,
      required: true
    },
    showSidebarToggler: Boolean,
    showViewToggler: Boolean
  }
}
</script>

<style lang="scss" scoped>
#navbar {
    border-bottom: 1px #e1e1e1 solid;
}
</style>
