<template>
<div id="sidebar-filter-categories">
  <sidebar-filter v-bind:title="$t('sidebar-filter-categories.categories')"
                  v-bind:canReset="selectedCategories != 0"
                  v-on:reset="reset">

    <div class="hover pl-1 rounded"
         v-for="category in categories"
         v-bind:key="category.name">

      <div class="custom-control custom-checkbox mb-1">
        <input type="checkbox"
               class="custom-control-input d-block"
               v-bind:id="category.name"
               v-model="selectedCategories"
               v-bind:value="category">
        <label class="custom-control-label w-100"
               v-bind:for="category.name">
          {{ category.name | capitalize }}
        </label>

      </div>

    </div>
  </sidebar-filter>

</div>
</template>

<script>
import SidebarFilter from '@/components/SidebarFilter';
export default {
  name: 'sidebar-filter-categories',
  components: {
    SidebarFilter
  },
  computed: {
    categories() {
      return this.$store.state.categories.list
    },
    selectedCategories: {
      get() {
        return this.$store.state.categories.selected
      },
      set(data) {
        this.$store.commit('categories/set', data)
      }
    }
  },
  created() {
    this.axios.get('/categories')
      .then((response) => {
        this.$store.dispatch('categories/load', response.data)
      })
      .catch(() => {
        this.$store.dispatch('alerts/new', this.newDanger(this.$t('global.could-not-load-data')));
      });
  },
  methods: {
    reset() {
      this.$store.dispatch('categories/reset');
    }
  }
}
</script>

<style lang="scss" scoped>
#sidebar-filter-categories {
    .hover:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
</style>
