<template>
<div id="sidebar-filter-tags">
  <sidebar-filter v-bind:title="$t('sidebar-filter-tags.tags')"
                  v-bind:canReset="selectedTags != 0"
                  v-on:reset="reset">

    <div class="pl-1 rounded mb-2"
         v-for="tag in tags"
         v-bind:key="tag.name"
         v-bind:style="{ backgroundColor: tag.color}">

      <div class="custom-control custom-checkbox d-flex">
        <input type="checkbox"
               class="custom-control-input d-block"
               v-bind:id="tag.name"
               v-model="selectedTags"
               v-bind:value="tag">
        <label class="custom-control-label w-100"
               v-bind:class="{ 'text-light': tag.text_light}"
               v-bind:for="tag.name">
          {{ tag.name }}
        </label>
        <button type="button"
                name="button"
                class="btn btn-sm btn-secondary p-0 m-0 no-outline delete-button"
                v-on:click="deleteTag(tag)">
          <i class="material-icons md-18 align-middle">delete</i>
        </button>

      </div>

    </div>
    <button type="button"
            name="button"
            class="btn btn-sm btn-secondary border-0 w-100 mb-1 py-0"
            v-on:click="$store.dispatch('display/toggleAddTag')">
      <i class="material-icons md-18 align-middle">add</i>
    </button>
    <tags-add v-if="$store.state.display.showAddTag"
              v-on:ok="load"></tags-add>
  </sidebar-filter>

</div>
</template>

<script>
import SidebarFilter from '@/components/SidebarFilter';
import TagsAdd from '@/components/TagsAdd';
export default {
  name: 'sidebar-filter-tags',
  components: {
    SidebarFilter,
    TagsAdd
  },
  computed: {
    tags() {
      return this.$store.state.tags.list
    },
    selectedTags: {
      get() {
        return this.$store.state.tags.selected
      },
      set(data) {
        this.$store.commit('tags/set', data)
        // this.$store.commit('subscritpions/filter', tags)
      }
    }
  },
  created() {
    this.load();
  },
  methods: {
    reset() {
      this.$store.dispatch('tags/reset');
    },
    load() {
      this.axios.get('/users/' + this.$store.getters[
          'auth/userID'] + '/tags')
        .then((response) => {
          this.$store.dispatch('tags/load', response.data)
        })
        .catch((error) => {
          this.$store.dispatch('alerts/new', this.newDanger(error.response.statusText));
        });
    },
    deleteTag(tag) {
      this.axios.delete('/users/' + this.$store.getters[
            'auth/userID'] +
          '/tags/' + tag.id)
        .then(() => {
          this.load();
        })
        .catch((error) => {
          this.$store.dispatch('alerts/new', this.newDanger(error.response.statusText));
        });
    }
  }
}
</script>

<style lang="scss" scoped>
#sidebar-filter-tags {}
</style>
