<template>
<div id="sidebar"
     class="bg-light text-dark"
     v-bind:class="{ 'hide-sidebar': !$store.state.display.showSidebar }">

  <div class="p-2 flex-column">
    <!-- <sidebar-filter-categories></sidebar-filter-categories> -->
    <sidebar-filter-tags></sidebar-filter-tags>

  </div>

</div>
</template>

<script>
import SidebarFilterCategories from '@/components/SidebarFilterCategories';
import SidebarFilterTags from '@/components/SidebarFilterTags';
export default {
  name: 'sidebar',
  components: {
    SidebarFilterCategories,
    SidebarFilterTags
  }
}
</script>

<style lang="scss" scoped>
#sidebar {
    height: calc(100vh - 146px);
    overflow-y: auto;
    width: 18rem;
    transition: margin-left 0.2s;
    border-right: 1px #e1e1e1 solid;

    &.hide-sidebar {
        margin-left: -18rem;
    }
}

@media (min-width: 576px) {
    #sidebar {
        height: calc(100vh - 99px);
    }
}
</style>
