<template>
<div id="sidebar-filter">
  <button type="button"
          name="button"
          class="btn btn-sm btn-dark w-100 mb-2 d-flex justify-content-between py-0"
          v-on:click="hide=!hide">
    {{ title }}
    <i class="material-icons">{{ hide ? 'arrow_drop_down' : 'arrow_drop_up' }}</i>
  </button>

  <div class="m-0 p-0"
       v-if="!hide">
    <button type="button"
            name="button"
            class="btn btn-sm btn-warning w-100 mb-2 py-0"
            v-bind:class="!canReset ? 'disabled' : ''"
            v-on:click="$emit('reset')"> Reset </button>
    <slot></slot>

  </div>

</div>
</template>

<script>
export default {
  name: 'sidebar-filter',
  components: {},
  props: {
    title: String,
    canReset: Boolean
  },
  data() {
    return {
      hide: false,
    }
  }
}
</script>

<style lang="scss" scoped>
#sidebar-filter {}
</style>
