<template>
<button id="sidebar-toggler"
        type="button"
        class="btn btn-sm no-outline p-1"
        v-on:click="$store.dispatch('display/toggleSidebar')"
        v-bind:title="$t('sidebar-toggler.toggle-sidebar')">
  <i class="material-icons md-24 align-middle p-0">menu</i>
</button>
</template>

<script>
export default {
  name: 'sidebar-toggler'
}
</script>

<style lang="scss" scoped>
#sidebar-toggler {}
</style>
