<template>
<div id="tags-add">
  <modal v-bind:title="$t('tags-add.add-new-tag')"
         v-bind:submit="$t('global.save')"
         v-bind:cancel="$t('global.cancel')"
         v-on:submit="saveTag"
         v-on:cancel="$store.dispatch('display/toggleAddTag')">
    <form>
      <input-group-prepend class="input-group-sm mb-2"
                           v-bind:label="$t('tags-add.tag-name')">
        <input type="text"
               class="form-control form-control-sm"
               v-bind:placeholder="$t('tags-add.enter-tag-name')"
               v-model="form.name">
      </input-group-prepend>
      <input-group-prepend class="input-group-sm mb-2"
                           v-bind:label="$t('tags-add.tag-color')">
        <input type="text"
               class="form-control form-control-sm"
               v-model="form.color">
      </input-group-prepend>

      <div class="rounded d-flex justify-content-between mb-2">
        <button type="button"
                class="btn btn-sm p-3"
                v-for="hue in hueColors"
                v-on:click="newColor(hue)"
                v-bind:key="hue"
                v-bind:style="{ backgroundColor: hue }">
        </button>

      </div>

      <div class="rounded p-2"
           v-bind:class="{ 'text-white': form.text_light }"
           v-bind:style="{ backgroundColor: form.color }">
        {{ form.name }}

      </div>
    </form>
  </modal>

</div>
</template>

<script>
import randomColor from 'randomcolor';
import Modal from '@/components/Modal';
import InputGroupPrepend from '@/components/InputGroupPrepend';
export default {
  name: 'tags-add',
  components: {
    Modal,
    InputGroupPrepend
  },
  data() {
    return {
      form: {
        name: '',
        color: '',
        text_light: false
      },
      hueColors: ["red", "orange", "yellow", "green", "blue", "purple", "pink"]
    }
  },
  created() {
    this.newColor("red");
  },
  methods: {
    newColor(hue) {
      this.form.color = randomColor({
        hue: hue
      });
      // Find foreground color
      let c = this.form.color.toUpperCase()
        .match(/[0-9A-F]{2}/g);
      this.form.text_light = (parseInt(c[0], 16) * 0.299 + parseInt(c[1], 16) * 0.587 + parseInt(c[2], 16) * 0.114) < 186
    },
    saveTag() {
      this.axios.post('/users/' + this.$store.getters['auth/userID'] + '/tags', this.form)
        .then(() => {
          this.$store.dispatch('display/toggleAddTag');
          this.$emit('ok');
        })
        .catch(() => {
          this.$store.dispatch('alerts/new', this.newWarning(this.$t('global.could-not-save-data')));
        });
    }
  }
}
</script>

<style lang="scss" scoped>
#tags-add {}
</style>
