<template>
<nav id="topbar"
     class="sticky-top bg-blue navbar navbar-expand-lg navbar-dark px-1 px-sm-3 py-1 d-flex-inline shadow">
  <router-link class="p-0 order-0"
               v-bind:to="{ name: 'subscriptions' }">
    <img src="@/assets/logo_bw.svg"
         alt=""
         style="height:40px;">
  </router-link>
  <form class="order-2 order-sm-1 col-12 col-sm-7 col-md-8 col-xl-9 p-1 mx-auto my-1 my-sm-0 p-0 form-inline"
        v-on:submit.prevent="search">

    <div class="input-group w-100 m-0 p-0">
      <input class="form-control form-control-sm rounded-0 border-0 no-outline"
             type="search"
             v-bind:placeholder="$t('topbar.search')"
             v-bind:aria-label="$t('topbar.search')"
             v-model="q"
             v-on:keyup="search">
      <button class="btn btn-sm btn-secondary rounded-0 border-0 no-outline"
              type="submit">
        <i class="material-icons md-18 align-middle">search</i>
      </button>

    </div>
  </form>

  <div class="order-1 order-sm-2 navbar-nav d-inline-flex flex-row">
    <router-link class="nav-item nav-link p-1 btn btn-sm no-outline text-light"
                 v-if="this.$store.getters['auth/isAdmin']"
                 v-bind:title="$t('topbar.system-settings')"
                 v-bind:to="{ name: 'admin'}">
      <i class="material-icons md-20 align-middle">settings</i>
    </router-link>
    <router-link class="nav-item nav-link p-1 btn btn-sm no-outline text-light"
                 v-bind:title="$t('topbar.user-settings')"
                 v-bind:to="{ name: 'settings'}">
      <i class="material-icons md-20 align-middle">account_circle</i>
    </router-link>
    <a class="nav-item nav-link p-1 btn btn-sm no-outline text-light"
       v-bind:title="$t('topbar.logout')"
       v-on:click="logout">
      <i class="material-icons md-20 align-middle">power_settings_new</i>
    </a>

  </div>
</nav>
</template>

<script>
export default {
  name: 'topbar',
  components: {},
  data() {
    return {
      q: this.$route.query.q,
    }
  },
  created() {
    if (this.$route.query.q !== undefined) {
      this.search();
    }
  },
  methods: {
    search() {
      this.$router.push({ name: 'search', query: { q: this.q } });
      this.axios.get('/search', {
          params: {
            q: this.q
          }
        })
        .then((response) => {
          this.$store.dispatch('softwares/load', response.data)
        })
        .catch((error) => {
          this.$store.dispatch('alerts/new', this.newDanger(error.response.statusText));
        });
    },
    logout() {
      this.$store.dispatch('auth/logout');
      this.$store.dispatch('alerts/new', this.newSuccess(this.$t('topbar.been-logged-out')));
      this.$router.push({ name: 'login' })
    },
  }
}
</script>

<style lang="scss" scoped>
#topbar {
    .active i {
        color: grey;
    }
}
</style>
