<template>
<div id="admin"
     class="container mt-3">
  <h4 class="mb-4">
    <router-link type="button"
                 class="btn btn-sm btn-outline-secondary mr-2"
                 v-bind:title="$t('global.back')"
                 v-bind:to="{ name: 'subscriptions' }">
      <i class="material-icons md-18 align-middle p-0">arrow_back</i>
    </router-link>
    {{ $t('admin.system-settings') }}
  </h4>
  <settings-section v-bind:title="$t('admin.background-jobs')">
  </settings-section>

</div>
</template>

<script>
import SettingsSection from '@/components/settings/SettingsSection';
export default {
  name: 'admin',
  components: {
    SettingsSection
  }
}
</script>

<style lang="scss" scoped>
#admin {}
</style>
