<template>
<div id="search">
  <navbar v-bind:title="$t('search.search')"
          v-bind:showViewToggler="softwares.length > 0">
  </navbar>
  <softwares v-bind:notFound="$t('search.not-found')"
             v-bind:softwares="softwares">
  </softwares>

</div>
</template>

<script>
import Softwares from '@/components/software/Softwares';
import Navbar from '@/components/Navbar';
export default {
  name: 'search',
  components: {
    Softwares,
    Navbar
  },
  computed: {
    softwares() {
      return this.$store.state.softwares.list
    },
  }
}
</script>

<style lang="scss" scoped>
#search {}
</style>
