<template>
<div id="settings"
     class="container mt-3">
  <h4 class="mb-3">
    <router-link type="button"
                 class="btn btn-sm btn-outline-secondary mr-2"
                 v-bind:title="$t('global.back')"
                 v-bind:to="{ name: 'subscriptions' }">
      <i class="material-icons md-18 align-middle p-0">arrow_back</i>
    </router-link>
    {{ $t('settings.settings') }}
  </h4>
  <settings-section class="mb-2"
                    v-bind:title="$t('settings.profile')">
    <form v-on:submit.prevent="saveProfile">
      <input-group-prepend class="input-group-sm mb-1"
                           v-bind:label="$t('settings.email')">
        <input type="email"
               class="form-control form-control-sm"
               v-model="user.email">
      </input-group-prepend>
      <input-group-prepend class="input-group-sm mb-2"
                           v-bind:label="$t('settings.username')">
        <input type="text"
               class="form-control form-control-sm"
               v-model="user.username">
      </input-group-prepend>
      <input-group-prepend class="input-group-sm mb-2"
                           v-bind:label="$t('settings.password')">
        <input type="password"
               class="form-control form-control-sm"
               v-model="user.password">
      </input-group-prepend>
      <input-group-prepend class="input-group-sm mb-2"
                           v-bind:label="$t('settings.password-confirmation')">
        <input type="password"
               class="form-control form-control-sm"
               v-model="user.passwordConfirmation">
      </input-group-prepend>
      <button type="submit"
              class="btn btn-primary btn-sm d-flex ml-auto">
        {{ $t('global.save') }}
      </button>
    </form>
  </settings-section>
  <settings-section class="mb-2"
                    v-bind:title="$t('settings.main-settings')">
    <form v-on:submit.prevent="saveProfile">
      <input-group-prepend class="input-group-sm mb-2"
                           v-bind:label="$t('settings.language')">
        <select class="form-control form-control-sm"
                v-model="language">
          <option v-for="language in languages"
                  v-bind:key="language.id"
                  v-bind:value="language.id">
            {{ language.name }}
          </option>
        </select>
      </input-group-prepend>
      <!-- <button type="submit"
              class="btn btn-primary btn-sm d-flex ml-auto">
        {{ $t('global.save') }}
      </button> -->
    </form>
  </settings-section>
  <settings-section class="mb-2"
                    v-bind:title="$t('settings.advanced')">
    <export-my-data></export-my-data>
    <delete-my-account></delete-my-account>
  </settings-section>

</div>
</template>

<script>
import DeleteMyAccount from '@/components/settings/DeleteMyAccount';
import ExportMyData from '@/components/settings/ExportMyData';
import InputGroupPrepend from '@/components/InputGroupPrepend';
import SettingsSection from '@/components/settings/SettingsSection';
export default {
  name: 'settings',
  components: {
    DeleteMyAccount,
    InputGroupPrepend,
    SettingsSection,
    ExportMyData
  },
  data() {
    return {
      languages: [
        { id: "en-us", name: this.$t('global.languages.en-us') },
        { id: "fr-fr", name: this.$t('global.languages.fr-fr') },
      ],
      user: {},
      old: {}
    }
  },
  created() {
    this.axios.get('/users/' + this.$store.getters['auth/tokenData'].id)
      .then((response) => {
        this.user = response.data;
        this.old = JSON.parse(JSON.stringify(response.data)); // Deep clone
      })
      .catch(() => {
        this.$store.dispatch('alerts/new', this.newDanger(this.$t('global.could-not-load-data')));
      });
  },
  methods: {
    saveProfile: function () {
      var data = {}
      if (this.user.password !== this.user.passwordConfirmation) {
        this.$store.dispatch('alerts/new', this.newWarning(this.$t('settings.passwords-doesnt-match')));
        this.user.password = ""
        this.user.passwordConfirmation = ""
        return
      }
      if (this.user.email !== this.old.email) {
        data.email = this.user.email
      }
      if (this.user.name !== this.old.name) {
        data.name = this.user.name
      }
      if (this.user.password !== this.old.password) {
        data.password = this.user.password
      }

      this.axios.patch('/users/' + this.$store.getters['auth/tokenData'].id, data)
        .then((response) => {
          this.user = response.data;
          this.old = JSON.parse(JSON.stringify(response.data)); // Deep clone
        })
        .catch((error) => {
          this.$store.dispatch('alerts/new', this.newDanger(this.$t('global.could-not-update-data')));
          this.$store.dispatch('alerts/new', this.newWarning(error.response.data.message));
        });
    },
    saveSettings: function () {
      // TODO: Save settings to server (need to enhance api calls with user settings)
    }
  },
  computed: {
    language: {
      get() {
        return this.$i18n.locale;
      },
      set(lang) {
        this.user.locale = lang;
        this.$i18n.locale = lang;
      }
    },
  }
}
</script>

<style lang="scss" scoped>
#settings {}
</style>
