<template>
<div id="software-add">
  <software-form v-bind:title="this.$t('software-add.add-new-software')"
                 v-bind:save="this.$t('global.add')"
                 v-bind:cancel="this.$t('global.cancel')"
                 v-on:save="addSoftware">
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.name')">
      <input type="text"
             class="form-control form-control-sm"
             list="foundSoftwares"
             v-bind:placeholder="$t('global.software.enter-name')"
             v-bind:class="{ 'is-invalid': searchResult.length != 0 }"
             v-on:keyup="searchSoftware()"
             v-model="software.name">
    </input-group-prepend>

    <div class="mb-2"
         id="finder"
         v-if="searchResult.length != 0">
      <ul class="list-group p-0">
        <li class="list-group-item p-0 pl-2 d-flex justify-content-between align-items-center"
            v-for="item in searchResult"
            v-bind:key="item.id">
          <!-- TODO: Use proper router-link -->
          <a href="#">{{ item.name }}</a>
          <button type="button"
                  class="btn btn-sm btn-dark no-outline m-1 text-white rounded-right"
                  v-bind:title="$t('global.software.subscribe')"
                  v-on:click="subscribe(item)">
            <i class="material-icons md-18 align-middle p-0">add_alert</i>
          </button>
        </li>
      </ul>

    </div>
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.repository-type')">
      <select class="custom-select custom-select-sm"
              v-model="software.repository_type">
        <option v-for="repo in $store.state.server.allowedRepositories"
                v-bind:value="repo"
                v-bind:key="repo">{{ repo | capitalize }}</option>
      </select>
    </input-group-prepend>
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.repository')">
      <input type="text"
             class="form-control form-control-sm"
             v-bind:placeholder="$t('global.software.enter-repository')"
             v-model="software.repository">
    </input-group-prepend>
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.website')">
      <input type="text"
             class="form-control form-control-sm"
             v-bind:placeholder="$t('global.software.enter-website')"
             v-model="software.website">
    </input-group-prepend>
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.description')">
      <textarea class="form-control form-control-sm"
                rows="3"
                type="text"
                v-bind:placeholder="$t('global.software.enter-description')"
                v-model="software.description">
        </textarea>
    </input-group-prepend>
  </software-form>

</div>
</template>

<script>
import InputGroupPrepend from '@/components/InputGroupPrepend';
import SoftwareForm from '@/components/software/SoftwareForm';
export default {
  name: 'software-add',
  components: {
    InputGroupPrepend,
    SoftwareForm
  },
  data() {
    return {
      software: {},
      searchResult: [],
    }
  },
  methods: {
    searchSoftware: function () {
      if (this.software.name !== "") {
        this.axios.get('/search', {
            params: {
              q: this.software.name
            }
          })
          .then((response) => {
            this.searchResult = response.data;
          });
      } else {
        this.searchResult = [];
      }
    },
    addSoftware: function () {
      this.axios.post('/softwares', this.software)
        .then(() => {
          this.$router.push({ name: 'subscriptions' });
        })
        .catch(() => {
          this.$store.dispatch('alerts/new', this.newDanger(this.$t('global.could-not-save-data')))
        });
    }
  }
}
</script>

<style lang="scss" scoped>
#software-add {
    #finder {
        max-height: 20rem;
        overflow-y: auto;
    }
}
</style>
