<template>
<div id="software-edit">
  <software-form v-bind:title="this.$t('software-edit.edit-software', { software: this.old.name })"
                 v-bind:save="this.$t('global.save')"
                 v-bind:cancel="this.$t('global.cancel')"
                 v-on:save="saveSoftware">
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.name')">
      <input type="text"
             class="form-control form-control-sm"
             v-bind:placeholder="software.name"
             v-model="software.name">
    </input-group-prepend>
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.repository-type')">
      <select class="custom-select custom-select-sm"
              v-model="software.repository_type">
        <option v-for="repo in $store.state.server.allowedRepositories"
                v-bind:value="repo"
                v-bind:key="repo">{{ repo | capitalize }}</option>
      </select>
    </input-group-prepend>
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.repository')">
      <input type="text"
             class="form-control form-control-sm bg-light"
             v-bind:placeholder="software.repository"
             v-model="software.repository">
    </input-group-prepend>
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.website')">
      <input type="text"
             class="form-control form-control-sm"
             v-bind:placeholder="software.website"
             v-model="software.website">
    </input-group-prepend>
    <input-group-prepend class="input-group-sm mb-2"
                         v-bind:label="$t('global.software.description')">
      <textarea class="form-control form-control-sm"
                rows="3"
                type="text"
                v-bind:placeholder="software.description"
                v-model="software.description">
        </textarea>
    </input-group-prepend>
  </software-form>

</div>
</template>

<script>
import InputGroupPrepend from '@/components/InputGroupPrepend';
import SoftwareForm from '@/components/software/SoftwareForm';
export default {
  name: 'software-edit',
  components: {
    InputGroupPrepend,
    SoftwareForm
  },
  data() {
    return {
      software: Object,
      old: Object
    }
  },
  created() {
    if (this.$route.params.id !== undefined) {
      this.axios.get('/softwares/' + this.$route.params.id)
        .then((response) => {
          this.software = response.data;
          this.old = JSON.parse(JSON.stringify(response.data)); // Deep clone
        })
        .catch(() => {
          this.$store.dispatch('alerts/new', this.newDanger(this.$t('global.could-not-load-data')))
        });
    } else {
      this.$store.dispatch('alerts/new', this.newDanger(this.$t('global.could-not-load-data')))
      this.$router.push({ name: 'subscriptions' });
    }
  },
  methods: {
    saveSoftware: function () {
      this.axios.patch('/softwares/' + this.software.id, {
          name: this.software.name !== this.old.name ? this.software.name : undefined,
          description: this.software.description !== this.old.description ? this.software.description : undefined,
          website: this.software.website !== this.old.website ? this.software.website : undefined,
        })
        .then(() => {
          this.$router.push({ name: 'subscriptions' });
        })
        .catch(() => {
          this.$store.dispatch('alerts/new', this.newDanger(this.$t('global.could-not-save-data')))
        });
    }
  }
}
</script>

<style lang="scss" scoped>
#software-edit {}
</style>
