<template>
<div id="subscriptions">
  <navbar v-bind:title="$t('subscriptions.subscriptions')"
          v-bind:showSidebarToggler="true"
          v-bind:showViewToggler="softwares.length > 0">
  </navbar>

  <div class="d-flex">
    <sidebar class="d-none d-sm-block"></sidebar>
    <softwares v-bind:notFound="$t('subscriptions.not-found')"
               v-bind:softwares="softwares">
    </softwares>

  </div>

</div>
</template>

<script>
import Navbar from '@/components/Navbar';
import Sidebar from '@/components/Sidebar';
import Softwares from '@/components/software/Softwares';
export default {
  name: 'subscriptions',
  components: {
    Navbar,
    Sidebar,
    Softwares
  },
  computed: {
    softwares() {
      return this.$store.state.subscriptions.list
    },
  }
}
</script>

<style lang="scss" scoped>
#subscriptions {}
</style>
