<template>
<div id="software-card"
     class="card mb-3"
     style="min-width: 16rem;">

  <div class="card-header p-2">
    <a target="_blank"
       v-bind:href="software.website">
      {{ software.name }}<i class="material-icons md-18 align-middle p-0 ml-1">launch</i>
    </a>
    <span class="badge badge-dark float-right my-1"
          v-bind:title="$t('global.software.version')">{{ software.version }}</span>

  </div>

  <div class="card-body p-2">
    <tags v-if="software.tags !== undefined"
          v-bind:tags="software.tags"></tags>
    <p class="card-text">{{ software.description }}</p>

  </div>

  <div class="card-footer p-2 d-flex justify-content-between">
    <router-link class="btn btn-sm btn-outline-secondary mr-auto"
                 v-show="canEdit"
                 v-bind:title="$t('softwares.edit-software')"
                 v-bind:to="{ name: 'software-edit', params: { id: software.id }}">
      <i class="material-icons md-18 align-middle p-0">edit</i>
    </router-link>
    <button-subscribe v-bind:software="software">
    </button-subscribe>

  </div>

</div>
</template>

<script>
import Tags from '@/components/tag/Tags';
import ButtonSubscribe from '@/components/button/ButtonSubscribe';
export default {
  name: 'software-card',
  components: {
    Tags,
    ButtonSubscribe
  },
  computed: {
    canEdit() {
      return this.$store.getters['auth/isAdmin'] || this.$store.getters['auth/userID'] == this.software.created_by;
    }
  },
  props: {
    software: Object
  }
}
</script>

<style lang="scss" scoped>
#software-card {
    .card-text {
        font-size: 0.9rem;
    }
}
</style>
