<template>
<table id="softwares-list"
       class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col"
          class="border-0 col-2 text-center">{{ $t('global.software.name') }}</th>
      <th scope="col"
          class="border-0 col-6">{{ $t('global.software.description') }}</th>
      <th scope="col"
          class="border-0 col-2">{{ $t('global.software.tags') }}</th>
      <th scope="col"
          class="border-0 col-1">{{ $t('global.software.version') }}</th>
      <th class="border-0 col-1"></th>
    </tr>
  </thead>
  <tbody>
    <slot></slot>
  </tbody>
</table>
</template>

<script>
export default {
  name: 'softwares-list'
}
</script>

<style lang="scss" scoped>
#softwares-list {}
</style>
