<template>
<div id="softwares"
     class="col p-0">
  <template v-if="softwares.length > 0">
    <softwares-list v-if="$store.state.display.softwaresViewList">
      <software-row v-for="software in softwares"
                    v-bind:key="software.id"
                    v-bind:software="software"
                    v-on:unsubscribe="unsubscribe">
      </software-row>
    </softwares-list>
    <softwares-deck v-else>
      <software-card v-for="software in softwares"
                     v-bind:key="software.id"
                     v-bind:software="software"
                     v-on:unsubscribe="unsubscribe">
      </software-card>
    </softwares-deck>
  </template>

  <div class="text-center mt-5"
       v-else>
    <p><i class="material-icons md-48 align-middle p-0">error_outline</i></p>
    <h5>{{ notFound }}</h5>

  </div>

</div>
</template>

<script>
import SoftwaresDeck from '@/components/software/SoftwaresDeck';
import SoftwareCard from '@/components/software/SoftwareCard';
import SoftwaresList from '@/components/software/SoftwaresList';
import SoftwareRow from '@/components/software/SoftwareRow';
export default {
  name: 'softwares',
  components: {
    SoftwaresDeck,
    SoftwareCard,
    SoftwaresList,
    SoftwareRow
  },
  props: {
    title: String,
    softwares: Array,
    notFound: String
  },
  methods: {
    unsubscribe: function (software) {
      this.softwares.splice(this.softwares.indexOf(software), 1);
    }
  }
}
</script>

<style lang="scss" scoped>
#softwares {}
</style>
