<template>
<div id="softwares-deck"
     class="card-deck py-3 m-0">
  <slot></slot>

</div>
</template>

<script>
export default {
  name: 'softwares-deck',
}
</script>

<style lang="scss" scoped>
#softwares-deck {}
</style>
