<template>
<div id="software-form"
     class="container p-3">
  <h3 v-html="title"
      class="mb-2"></h3>
  <form v-on:submit.prevent="$emit('save')">
    <slot></slot>
    <button-save-cancel v-bind:save="save"
                        v-bind:cancel="cancel"
                        v-on:cancel="$router.go(-1)">
    </button-save-cancel>
  </form>

</div>
</template>

<script>
import ButtonSaveCancel from '@/components/button/ButtonSaveCancel';
export default {
  name: 'software-form',
  components: {
    ButtonSaveCancel
  },
  props: {
    title: {
      type: String,
      required: true
    },
    save: {
      type: String,
      required: true
    },
    cancel: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
#software-form {}
</style>
