<template>
<tr id="software-row">
  <td class="align-middle text-center">
    <a target="_blank"
       v-bind:href="software.website">
      {{ software.name }}<i class="material-icons md-18 align-middle p-0 ml-1">launch</i>
    </a>
  </td>
  <td class="align-middle">{{ software.description }}</td>
  <td class="align-middle">
    <tags v-if="software.tags !== undefined"
          v-bind:tags="software.tags">
    </tags>
  </td>
  <td class="align-middle">{{ software.version }}</td>
  <td class="align-middle">

    <div class="d-inline-flex">
      <button-subscribe v-bind:software="software">
      </button-subscribe>
      <router-link class="btn btn-sm btn-outline-secondary ml-2"
                   v-show="canEdit"
                   v-bind:title="$t('softwares.edit-software')"
                   v-bind:to="{ name: 'software-edit', params: { id: software.id }}">
        <i class="material-icons md-18 align-middle p-0">edit</i>
      </router-link>

    </div>
  </td>
</tr>
</template>

<script>
import Tags from '@/components/tag/Tags';
import ButtonSubscribe from '@/components/button/ButtonSubscribe';
export default {
  name: 'software-row',
  components: {
    Tags,
    ButtonSubscribe
  },
  props: {
    software: Object
  },
  computed: {
    canEdit() {
      return this.$store.getters['auth/isAdmin'] || this.$store.getters['auth/userID'] == this.software.created_by;
    }
  }
}
</script>

<style lang="scss" scoped>
#software-row {}
</style>
