<template>
<div id="app">
  <router-view></router-view>
  <alerts></alerts>

</div>
</template>

<script>
import Alerts from '@/components/Alerts';
export default {
  name: 'app',
  components: {
    Alerts
  }
}
</script>

<style>
#app {}
</style>
