<template>
<div id="login"
     class="card-body">
  <h4 class="card-title text-center">{{ $t('login.sign-in-to')}} <img src="@/assets/logo_dark.svg"
         alt=""
         style="height:1.5em;"></h4>
  <form class="mb-3"
        v-on:submit.prevent="login">

    <div class="form-group mb-2">
      <label for="username">{{ $t('login.username') }}</label>
      <input type="text"
             class="form-control"
             id="username"
             required
             v-model="form.username">

    </div>

    <div class="form-group mb-2">
      <label for="password">{{ $t('login.password') }}</label>
      <router-link class="float-right"
                   v-bind:to="{ name: 'reset_password'}">{{ $t('login.forgot-password') }}</router-link>
      <input type="password"
             class="form-control"
             id="password"
             required
             v-model="form.password">

    </div>
    <button type="submit"
            class="btn btn-primary w-100 mt-2">{{ $t('login.sign-in') }}</button>
  </form>
  <hr>
  <router-link class="btn btn-sm btn-outline-secondary w-100"
               v-bind:to="{ name: 'register' }">{{ $t('login.no-account-register') }}</router-link>

</div>
</template>

<script>
export default {
  name: 'login',
  components: {},
  data() {
    return {
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    login() {
      this.axios.post('/auth', this.form)
        .then((response) => {
          this.$store.dispatch('auth/login', response.data.token)
          if (this.$route.query.redirect) {
            this.$router.push(this.$route.query.redirect)
          } else {
            this.$router.push({ name: 'subscriptions' })
          }
          this.$store.dispatch('alerts/new', this.newSuccess(this.$t('login.success')));
        })
        .catch((error) => {
          this.$store.dispatch('alerts/new', this.newDanger(error.response.statusText));
        });
    }
  }
}
</script>

<style lang="scss" scoped>
#login {}
</style>
