<template>
<div id="register"
     class="card-body">
  <h4 class="card-title text-center">{{ $t('register.join') }} <img src="@/assets/logo_dark.svg"
         alt=""
         style="height:1.5em;"></h4>
  <form class="mb-3"
        @submit.prevent="register">

    <div class="form-group mb-2">
      <label for="username">{{ $t('register.username') }}</label>
      <input type="text"
             class="form-control form-control-sm"
             id="username"
             required
             v-model="form.username">

    </div>

    <div class="form-group mb-2">
      <label for="email">{{ $t('register.email') }}</label>
      <input type="email"
             class="form-control form-control-sm"
             id="email"
             required
             v-model="form.email">

    </div>

    <div class="form-group mb-2">
      <label for="email-confirmation">{{ $t('register.email-confirmation') }}</label>
      <input type="email"
             class="form-control form-control-sm"
             id="email-confirmation"
             required
             v-model="form.email_confirmation">

    </div>

    <div class="form-group mb-2">
      <label for="password">{{ $t('register.password') }}</label>
      <input type="password"
             class="form-control form-control-sm"
             id="password"
             required
             v-model="form.password">

    </div>

    <div class="form-group mb-2">
      <label for="password-confirmation">{{ $t('register.password-confirmation') }}</label>
      <input type="password"
             class="form-control form-control-sm"
             id="password-confirmation"
             required
             v-model="form.password_confirmation">

    </div>
    <button type="submit"
            class="btn btn-primary w-100 mt-1">{{ $t('register.register') }}</button>
  </form>
  <hr>
  <router-link :to="{ name: 'login' }"
               class="btn btn-sm btn-outline-secondary w-100">{{ $t('register.already-have-account') }}</router-link>

</div>
</template>

<script>
export default {
  name: 'register',
  components: {},
  data() {
    return {
      form: {
        username: '',
        email: '',
        email_confirmation: '',
        password: '',
        password_confirmation: '',
      }
    }
  },
  methods: {
    register() {
      this.axios.post('/register', this.form)
        .then(() => {
          this.$router.push({ name: 'login' })
          this.$store.dispatch('alerts/new', this.newSuccess(this.$t('register.success')))
        })
        .catch((error) => {
          this.$store.dispatch('alerts/new', this.newDanger(error.response.statusText));
        });
    }
  }
}
</script>

<style lang="scss" scoped>
#register {}
</style>
