<template>
<div id="reset-password"
     class="card-body">
  <h4 class="card-title text-center">{{ $t('reset-password.reset-your-password') }}</h4>
  <form @submit.prevent="sendResetEmail">

    <div class="form-group mb-2">
      <label for="email">{{ $t('reset-password.email') }}</label>
      <input type="email"
             class="form-control form-control-sm"
             id="email"
             required>

    </div>
    <button type="submit"
            class="btn btn-primary w-100 mt-1">{{ $t('reset-password.send-password-reset') }}</button>
  </form>
  <hr>
  <router-link class="btn btn-sm btn-outline-secondary w-100"
               v-bind:to="{ name: 'login' }">{{ $t('reset-password.back-to-login') }}</router-link>

</div>
</template>

<script>
export default {
  name: 'reset-password',
  components: {},
  data() {
    return {
      form: {
        email: '',
      }
    }
  },
  methods: {
    sendResetEmail() {}
  }
}
</script>

<style lang="scss" scoped>
#reset-password {}
</style>
