<template>
<div id="delete-my-account">

  <div class="alert alert-danger">
    <h5 class="alert-heading">{{ $t('delete-my-account.delete-my-account') }}</h5>
    <p>{{ $t('delete-my-account.deleting-your-account') }}</p>
    <button type="button"
            class="btn btn-sm btn-danger ml-auto"
            v-on:click="deleteAccount">
      {{ $t('delete-my-account.delete-my-account') }}
    </button>

  </div>

</div>
</template>

<script>
export default {
  name: 'delete-my-account',
  methods: {
    deleteAccount() {
      this.axios.delete('/users/' + this.$store.getters['auth/userID'])
        .then(() => {
          this.$store.dispatch('alerts/new', this.newSuccess(this.$t('delete-my-account.your-account-deleted')));
          this.$store.dispatch('auth/logout');
        })
        .catch((error) => {
          this.$store.dispatch('alerts/new', this.newDanger(error.response.statusText))
        });
    }
  }
}
</script>

<style lang="scss" scoped>
#delete-my-account {}
</style>
