<template>
<div id="export-my-data">

  <div class="alert alert-info">
    <h5 class="alert-heading">{{ $t('export-my-data.export-my-data') }}</h5>
    <p>{{ $t('export-my-data.exporting-your-data') }}</p>
    <button type="button"
            class="btn btn-sm btn-info"
            v-on:click="exportData">
      {{ $t('export-my-data.export-my-data') }}
    </button>
    <a target="_blank"
       class="btn btn-sm btn-secondary text-white ml-2"
       v-if="myData != null"
       v-bind:href="myData">
      {{ $t('export-my-data.download-my-data') }}
    </a>

  </div>

</div>
</template>

<script>
export default {
  name: 'export-my-data',
  data() {
    return {
      myData: null
    }
  },
  methods: {
    exportData() {
      this.axios.get('/users/' + this.$store.getters['auth/userID'])
        .then(response => {
          this.myData = 'data:application/json; charset=UTF-8,' + encodeURIComponent(JSON.stringify(response.data))
        })
        .catch(error => {
          this.$store.dispatch('alerts/new', this.newDanger(error.response.statusText))
        })
    }
  }
}
</script>

<style lang="scss" scoped>
#export-my-data {}
</style>
