<template>
<div id="settings-section"
     class="mb-3">
  <h4 class="mb-1">{{ title }}</h4>
  <hr class="mt-0 mb-3">
  <slot></slot>

</div>
</template>

<script>
export default {
  name: 'settings-section',
  components: {},
  props: {
    title: String
  }
}
</script>

<style lang="scss" scoped>
#settings-section {}
</style>
